<!-- FORMULARIO DE NOVO PRODUTO -->
<div *ngIf="productAction.event.action === addProductAction">
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <!-- Nome do produto -->
      <input pInputText placeholder="Nome" formControlName="name">
      <!-- Categoria do produto -->
      <p-dropdown
        styleClass="w-full"
        [options]="categoriesData"
        [(ngModel)]="selectCategory"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione uma categoria"
        formControlName="category_id"
      ></p-dropdown>

      <!-- Preço do produto -->
      <input pInputText placeholder="Preço" formControlName="price">

      <!-- Descrição do produto -->
      <input pInputText placeholder="Descrição" formControlName="description">

      <!-- Quantidade do produto -->
      <input pInputText placeholder="Quantidade" formControlName="amount">

      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
        <p-button
          [disabled]="!addProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<!-- FORMULÁRIO DE EDITAR PRODUTO -->
 <div *ngIf="productAction.event.action === editProductAction">
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <!-- Nome do produto -->
      <input pInputText placeholder="Nome" formControlName="name">

      <!-- Categoria do produto -->
      <div *ngIf="renderDropdown">
        <p-dropdown
          styleClass="w-full"
          [options]="categoriesData"
          [(ngModel)]="selectCategory"
          optionLabel="name"
          optionValue="id"
          formControlName="category_id"
        ></p-dropdown>
      </div>

      <!-- Preço do produto -->
      <input pInputText placeholder="Preço" formControlName="price">

      <!-- Descrição do produto -->
      <input pInputText placeholder="Descrição" formControlName="description">

      <!-- Quantidade do produto -->
      <input pInputText placeholder="Quantidade" formControlName="amount">

      <div class="flex flex-row justify-content-center align-content-center align-items-center">
        <p-button
          [disabled]="!editProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
 </div>

 <!-- FORMULÁRIO DE EFETUAR VENDA -->
  <div *ngIf="productAction.event.action === saleProductAction">
    <form [formGroup]="saleProductForm" (ngSubmit)="handleSubmitSaleProduct()">

      <!-- Categoria do produto -->
        <div class="card flex flex-column md:flex-column gap-3">
          <p-dropdown
          [options]="productsDatas"
          [(ngModel)]="saleProductSelected"
          styleClass="w-full h-150px"
          optionLabel="name"
          optionValue="id"
          placeholder="Selecione um produto"
          formControlName="product_id"
          ></p-dropdown>
        </div>

        <!-- Nome do produto -->
        <input type="number" pInputText placeholder="Quantidade" formControlName="amount" class="mt-3">


        <div class="flex flex-row justify-content-center align-content-center align-items-center">
          <p-button
            [disabled]="!saleProductForm.valid"
            type="submit"
            label="Concluir"
          ></p-button>
        </div>
    </form>
  </div>
